/**
 * app.css - styles for the PitaCalc
 */

 body {
  padding: 70px 0;
}
.copyright {
  margin: 5px;
}
.footer {
  min-height: 26px;
}
.upper {
  text-transform: uppercase;
}
td.r {
  width: 1px;
}
.well, .table {
  font-size: 20px;
}
.table {
  margin-bottom: 0;
}
.table>tbody>tr>td.title {
  text-align: right;
  padding: 6px 0;
}

.ap {
  font-size: 20px;
}
.table>tbody>tr>td.value, .ap>strong {
  font-weight: bold;
  color: #d9534f;
}
.table>tbody>tr>td.value {
  width: 1px;
  text-align: left;
  padding: 6px 0px 6px 10px;
}
.table>tbody>tr>td.yv {
  width: 1px;
  padding: 6px 10px;
  text-align: right;
}
.table>tbody>tr>td.ys {
  padding: 6px 0;
  text-align: left;
}
.loader {
  text-align: center;
}
label {
  font-size: 15px;
}
.error-container {
  position: absolute;
  font-size: 18px;
}
.submit-button {
  margin-top: 20px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .submit-button {
    margin-top: 20px;
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .table {
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}